.dropdown-watchlater {
  position: relative;
}
.dropdown-watchlater-menu {
  position: absolute;
  left: 0;
  top: 40%;
  background-color: var(--tertiary-color);
  padding: 1.5rem;
  border-radius: 8px;
  width: 15rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
}
.dropdown-watchlater-menu.active {
  opacity: 1;
}
.dropdown-watchlater-menu-btn {
  white-space: nowrap;
  padding: 5px 0.75rem;
  border-radius: 5px;
  margin: 1px;
}
.dropdown-watchlater-menu-btn-1 {
  white-space: nowrap;
  padding: 5px 1.9rem;
  border-radius: 5px;
  margin: 1px;
}
