.video-container {
  display: flex;
  flex-direction: column;
}
.video-pages {
  display: flex;
  list-style: none;
  gap: 2rem;
}
.video-info-container {
  display: flex;
  justify-content: flex-start;
  margin-left: 13.3rem;
  border: lightgray;
  background-color: var(--drop-hover-color);
  width: 1024px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.video-text {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-right: 1rem;
  align-items: center;
}
.video-avatar {
  margin-top: 1rem;
}
.videopage-sidebar-links {
  display: flex;
  margin-left: auto;
  margin-right: 1rem;
  margin-top: 1rem;
  gap: 1rem;
}
.suggested-videos {
  display: flex;
  margin: 2rem 2rem;
  gap: 4rem;
}
