.btn-primary {
  padding: 0.8rem 1.3rem;
  border: 1px solid black;
  border-radius: 8px;
  background-color: var(--component-black-color);
  color: var(--component-white-color);
  position: absolute;
  right: 1rem;
  top: 5rem;
}
.history-video-pages {
  display: flex;
  position: absolute;
  margin-top: 2rem;
}
.history-recommended-videos {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
